.Comment {
    display: flex;
    flex-direction: column;
}
.commenter {
    display: flex;
    justify-content: flex-start;
    font-size: smaller;
    font-weight: bolder;
    font-style: italic;
}

.comment-date {
    font-size: smaller;
}

.comment-text {
    width: 25vw;
}
