.full-post-cont {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.full-post-form {
    margin-top: 20px;
    margin-bottom: 20px;
}
.full-post-header {
    text-align: center;
}
.full-post-text {
    width: 60vw;
}

.full-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.full-post-byline {
    display: flex;
    justify-content: space-between;
    width: 68vw;
    padding: 10px;
}

.full-post-author-span {
    font-size: 14px;
}

.full-post-comments {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edit-post-btn {
    background-color: green;
    color: white;
}

.delete-post-btn {
    color: white;
    background-color: red;
}

.edit-delete-btns-cont-cont {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.edit-delete-btns-cont {
    display: flex;
    gap: 10px;
}
