.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    color: white;
    background-color: black;
}
.navbar-left {
    display: flex;
    gap: 10px;
}
.navbar-links {
    color: white;
}

.navbar-home {
    text-decoration: none;
    color: white;
}
